
<!-- NOT NECESARY CALLED FROM POST#INDEX
<h1>Noobs problems</h1>
 
<table>
  <tr>
    
    <th>Title</th>
    <th>Comments</th>
    
  </tr>
 
<% @posts.each do |post| %>
  <tr>
   
    <th> <%= link_to post.title, post.url %> </th>
    <th> <%= link_to post.comments.length, post_path(post) %></th>
          
  </tr>
<% end %>
</table>
 
<br />