<!--Botones de me gusta-->
<a class="btn btn-small" href="#"><i class="icon-thumbs-up"></i> me gusta</a><a class="btn btn-small" href="#"><i class="icon-thumbs-down"></i> </a>
</br>
</br>

<!--Botones cuantas veces ha sido la imagen vista-->
<i class="icon-eye-open"></i>

</br>
</br>

<!--Botones para ver la anterior y la siguiente imagen-->

<a class="btn btn-small" href="#"><i class="icon-chevron-left"></i> anterior</a>
<a class="btn btn-small" href="#">siguiente<i class="icon-chevron-right"></i> </a>