<h3>Noob's Problems</h3>
<ul class="nav nav-tabs">
  <li>
    <a href=<%=root_path%>>Hottest</a>
  </li>
  <li class="active"><a href=<%=incoming_path%>>Incoming</a></li>
  <li><a href=<%=all_times_path%>>All times</a></li>
</ul>
<%= render "posts_list" %>