<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="http://localhost:3000">Help D'Noob</a>
    <ul class="nav pull-right">
      
      
      
      <li><th > <%= link_to "create a new post", "http://localhost:3000/posts/new" %></th> </li>
    </ul>
  </div>
</div>

    